.about-us-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #E8E8E8;
  }
  .about-us-container05 {
    gap: var(--dl-space-space-halfunit);
    width: 1344px;
    height: 55px;
    display: flex;
    align-self: center;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: 37px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #c7b345;
  }
  .about-us-form08 {
    gap: var(--dl-space-space-halfunit);
    width: 149px;
    height: 43px;
    display: flex;
    position: relative;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .about-us-text02 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    align-self: center;
    font-style: normal;
    text-align: left;
    font-family: Pridi;
    font-weight: 400;
  }
  .about-us-container06 {
    flex: 0;
    width: 1475px;
    height: 332px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .about-us-container07 {
    width: 551px;
    height: 287px;
    display: flex;
    position: relative;
    align-self: center;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }
  .about-us-container08 {
    width: 572px;
    height: 100px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
  }
  .about-us-image5 {
    top: 9px;
    left: 145px;
    width: 81px;
    height: 81px;
    position: absolute;
    object-fit: cover;
  }
  .about-us-text03 {
    top: 25px;
    left: 247px;
    position: absolute;
    font-size: 30px;
  }
  .about-us-container09 {
    top: 100px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .about-us-image6 {
    top: 9px;
    left: 145px;
    width: 81px;
    position: absolute;
    object-fit: cover;
  }
  .about-us-text04 {
    top: 25px;
    left: 247px;
    position: absolute;
    font-size: 30px;
  }
  .about-us-container10 {
    top: 200px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .about-us-text05 {
    top: 25px;
    left: 247px;
    position: absolute;
    font-size: 30px;
  }
  .about-us-image7 {
    top: 9px;
    left: 145px;
    width: 81px;
    position: absolute;
    object-fit: cover;
  }
  .about-us-form09 {
    width: 888px;
    height: 305px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-us-text06 {
    font-size: 20px;
    align-self: center;
    text-align: left;
    font-family: Pridi;
    border-color: var(--dl-color-gray-black);
    border-width: 2px;
    background-color: rgb(255, 255, 255);
  }