.about-us-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #E8E8E8;
  }
  .about-us-container01 {
    width: 100%;
    height: 74px;
    display: flex;
    align-items: flex-start;
  }
  .about-us-header {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    max-width: 1600px;
    align-items: center;
    padding-top: 32px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 32px;
    justify-content: space-between;
    background-color: #c7b345;
  }
  .about-us-container02 {
    flex: 0 0 auto;
    width: auto;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: auto;
    display: flex;
    align-items: space-between;
    flex-direction: column;
  }
  .about-us-form {
    gap: var(--dl-space-space-unit);
    top: -3px;
    left: 0px;
    width: 192px;
    height: 85px;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .about-us-image {
    width: 80px;
    height: 60px;
    object-fit: cover;
  }
  .about-us-text {
    color: #ffffff;
    font-size: 25px;
    font-style: normal;
    font-family: Pridi;
    font-weight: 700;
  }
  .about-us-nav {
    display: flex;
  }
  .about-us-burger-menu {
    display: none;
  }
  .about-us-icon {
    width: 16px;
    height: 16px;
  }
  .about-us-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
  }
  .about-us-nav1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .about-us-container03 {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    justify-content: space-between;
  }
  .about-us-image1 {
    height: 2rem;
  }
  .about-us-menu-close {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-us-icon02 {
    width: 16px;
    height: 16px;
  }
  .about-us-icon04 {
    width: 16px;
    height: 16px;
    margin-right: 32px;
  }
  .about-us-icon06 {
    width: 16px;
    height: 16px;
    margin-right: 32px;
  }
  .about-us-icon08 {
    width: 16px;
    height: 16px;
  }
  .about-us-form01 {
    gap: var(--dl-space-space-halfunit);
    width: 1013px;
    height: 63px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .about-us-form02 {
    width: 124px;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .about-us-navlink {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    font-family: Pridi;
    text-decoration: none;
  }
  .about-us-form03 {
    width: 124px;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .about-us-navlink1 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    font-family: Pridi;
    text-decoration: none;
  }
  .about-us-form04 {
    width: 124px;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .about-us-navlink2 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    font-family: Pridi;
    text-decoration: none;
  }
  .about-us-form05 {
    width: 124px;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .about-us-navlink3 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    font-family: Pridi;
    text-decoration: none;
  }
  .about-us-form06 {
    width: 124px;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .about-us-navlink4 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    font-family: Pridi;
    text-decoration: none;
  }
  .about-us-form07 {
    width: 124px;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .about-us-text01 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    font-family: Pridi;
    text-decoration: none;
  }
  .about-us-btn-group {
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .about-us-navlink5 {
    color: var(--dl-color-gray-white);
    align-self: flex-start;
    font-family: Pridi;
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius8);
    text-decoration: none;
    background-color: rgb(113, 95, 35);
  }
  .about-us-container04 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: 383px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-us-image2 {
    width: 324px;
    height: 150px;
    object-fit: cover;
  }
  .about-us-icon10 {
    width: 40px;
    height: 40px;
  }
  .about-us-image3 {
    width: 400px;
    height: 250px;
    object-fit: cover;
  }
  .about-us-icon12 {
    width: 40px;
    height: 40px;
  }
  .about-us-image4 {
    width: 310px;
    height: 150px;
    object-fit: cover;
  }
  .about-us-container05 {
    gap: var(--dl-space-space-halfunit);
    width: 1344px;
    height: 55px;
    display: flex;
    align-self: center;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: 37px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #c7b345;
  }
  .about-us-form08 {
    gap: var(--dl-space-space-halfunit);
    width: 149px;
    height: 43px;
    display: flex;
    position: relative;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .about-us-text02 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    align-self: center;
    font-style: normal;
    text-align: left;
    font-family: Pridi;
    font-weight: 400;
  }
  .about-us-container06 {
    flex: 0;
    width: 1475px;
    height: 332px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .about-us-container07 {
    width: 551px;
    height: 287px;
    display: flex;
    position: relative;
    align-self: center;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }
  .about-us-container08 {
    width: 572px;
    height: 100px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
  }
  .about-us-image5 {
    top: 9px;
    left: 145px;
    width: 81px;
    height: 81px;
    position: absolute;
    object-fit: cover;
  }
  .about-us-text03 {
    top: 25px;
    left: 247px;
    position: absolute;
    font-size: 30px;
  }
  .about-us-container09 {
    top: 100px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .about-us-image6 {
    top: 9px;
    left: 145px;
    width: 81px;
    position: absolute;
    object-fit: cover;
  }
  .about-us-text04 {
    top: 25px;
    left: 247px;
    position: absolute;
    font-size: 30px;
  }
  .about-us-container10 {
    top: 200px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .about-us-text05 {
    top: 25px;
    left: 247px;
    position: absolute;
    font-size: 30px;
  }
  .about-us-image7 {
    top: 9px;
    left: 145px;
    width: 81px;
    position: absolute;
    object-fit: cover;
  }
  .about-us-form09 {
    width: 888px;
    height: 305px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-us-text06 {
    font-size: 20px;
    align-self: center;
    text-align: left;
    font-family: Pridi;
    border-color: var(--dl-color-gray-black);
    border-width: 2px;
    background-color: rgb(255, 255, 255);
  }
  @media(max-width: 1200px) {
    .about-us-header {
      width: 100%;
    }
    .about-us-image2 {
      width: 285px;
      height: 147px;
    }
    .about-us-image4 {
      width: 280px;
      height: 125px;
    }
    .about-us-container05 {
      width: 1111px;
      height: 48px;
    }
  }
  @media(max-width: 991px) {
    .about-us-container05 {
      width: 959px;
      height: 60px;
    }
    .about-us-text02 {
      color: var(--dl-color-gray-white);
      font-size: 30px;
      font-style: normal;
      font-family: Pridi;
      font-weight: 400;
    }
    .about-us-container06 {
      height: 955px;
      flex-direction: column;
    }
    .about-us-container07 {
      align-self: center;
    }
    .about-us-text06 {
      position: static;
      font-size: 30px;
      font-family: Pridi;
    }
  }
  @media(max-width: 767px) {
    .about-us-header {
      padding-left: 32px;
      padding-right: 32px;
    }
    .about-us-nav {
      display: none;
    }
    .about-us-burger-menu {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .about-us-btn-group {
      display: none;
    }
    .about-us-image2 {
      display: none;
    }
    .about-us-image4 {
      display: none;
    }
    .about-us-container05 {
      width: 727px;
      height: 39px;
    }
  }
  @media(max-width: 479px) {
    .about-us-header {
      padding: var(--dl-space-space-unit);
    }
    .about-us-mobile-menu {
      padding: 16px;
    }
    .about-us-image2 {
      display: none;
    }
    .about-us-image4 {
      display: none;
    }
    .about-us-container05 {
      width: 434px;
      justify-content: center;
    }
    .about-us-text06 {
      top: 6px;
      right: -774px;
      position: static;
      font-size: 4px;
    }
  }
  