.information-days-tour-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #E8E8E8;
  }
  .information-days-tour-form09 {
    width: 271px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .information-days-tour-form09 a {
    font-size: 18px;
    font-style: normal;
    font-family: Pridi;
    font-weight: 700;
    white-space: nowrap;
    margin-left: 200px;
    margin-right: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .information-days-tour-container01 {
    width: 100%;
    height: 131px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: Pridi;
  }
  .Text {
    font-family: Pridi;
    font-size: 25px;
    font-style: normal;
    font-weight: 80;
    align-items: center;
    justify-content: center;
  }
  .information-days-tour-navlink6 {
    width: 40%;
    height: 40%;
    text-decoration: none;
    align-items: center;
    justify-content: center;
  }
  .information-days-tour-container11 {
    flex: 0 0 auto;
    width: 100%;
    height: 51px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .information-days-tour-container12 {
    width: auto;
    height: 51px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .information-days-tour-icon14 {
    width: 54px;
    height: 45px;
    align-self: flex-start;
  }
  .information-days-tour-text44 {
    align-self: center;
  }
  .information-days-tour-textinput {
    width: 427px;
    align-self: center;
  }
  