* {
    margin: 0;
    padding: 0;
  }
  .bookcontainer{
    width: 100%;
    display: flex;
    overflow: auto;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #e8e8e8;
  }
  .booking-container{
    gap: var(--dl-space-space-halfunit);
    width: 90%;
    height: 55px;
    display: flex;
    align-self: center;
    margin-top: var(--dl-space-space-quadruple);
    align-items: center;
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-quadruple);
    flex-direction: row;
    justify-content: center;
    background-color: black;
  }
  .booking-text{
    color: white;
    font-size: 30px;
    font-style: normal;
    text-align: left;
    font-family: Pridi;
    font-weight: bold;
  }
  .header{
    font-size: smaller;
    align-items: center;
    margin-top: 100px;
  }
  table {
    border-collapse: separate;
    border-spacing: 0;
    width: 60%;
    height: 400px; /* set a fixed height */
    table-layout: auto;
    align-items: center;
    margin-top: 50px;
    overflow-y: scroll; /* enable vertical scrolling */
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap; /* prevent text wrapping */
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .button1 {
    margin-top: 20px;
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
   }
   
   .button1:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button1:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #ff0000;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button1:hover {
    color: #ffffff;
    border: 1px solid #ff0000;
   }
   
   .button1:hover:before {
    top: -35%;
    background-color: #ff0000;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .button1:hover:after {
    top: -45%;
    background-color: #ff0000;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }

   .row {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; /* Center horizontally */
  }  