* {
  margin: 0;
  padding: 0;
}
.home-container {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  flex-direction: column;
  background-color: #E8E8E8;
}
  .home-container04 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: 383px;
    display: flex;
    align-self: center;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    background-color: #E8E8E8;
  }
  .home-image02 {
    width: 400px;
    height: 200px;
    object-fit: cover;
  }
  .home-image03 {
    width: 450px;
    height: 300px;
    object-fit: cover;
  }
  .home-image04 {
    width: 400px;
    height: 200px;
    object-fit: cover;
  }

  .home-container05 {
    gap: var(--dl-space-space-tripleunit);
    width: 1344px;
    height: 66px;
    display: flex;
    align-self: center;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius8);
    justify-content: flex-start;
    background-color: #c7b345;
  }
  .home-form08 {
    width: 229px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-text02 {
    color: var(--dl-color-gray-white);
    font-size: 25px;
    text-align: left;
    font-family: Pridi;
  }
  .home-form09 {
    gap: 10em;
    width: 100%;
    height: 407px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
  }
  .home-form10 {
    width: 333px;
    height: 100%;
    display: flex;
    align-items: center;
    border-color: var(--dl-color-gray-black);
    border-width: 2px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--dl-color-gray-white);
  }
  .home-text03 {
    font-size: 18px;
    font-style: normal;
    font-family: Pridi;
    font-weight: 700;
  }
  .home-image05 {
    width: 100%;
    height: 149px;
    margin-top: 15px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  .home-text06 {
    align-self: center;
    text-align: center;
    font-family: Pridi;
  }
  .home-navlink6 {
    width: 200px;
    margin-top: 38px;
    font-family: Pridi;
    margin-bottom: 15px;
    text-decoration: none;
  }
  .home-text07 {
    color: rgb(247, 0, 0);
    font-family: Pridi;
  }
  .home-form11 {
    width: 333px;
    height: 100%;
    display: flex;
    align-items: center;
    border-color: var(--dl-color-gray-black);
    border-width: 2px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--dl-color-gray-white);
  }
  .home-text08 {
    font-size: 18px;
    font-style: normal;
    font-family: Pridi;
    font-weight: 700;
  }
  .home-image06 {
    width: 100%;
    height: 149px;
    margin-top: 15px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  .home-text09 {
    text-align: center;
    font-family: Pridi;
  }
  .home-button {
    width: 200px;
    margin-top: 15px;
    font-family: Pridi;
    margin-bottom: 15px;
  }
  .home-text10 {
    color: rgb(247, 0, 0);
    font-family: Pridi;
  }
  .home-form12 {
    width: 333px;
    height: 100%;
    display: flex;
    align-items: center;
    border-color: var(--dl-color-gray-black);
    border-width: 2px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--dl-color-gray-white);
  }
  .home-text11 {
    font-size: 18px;
    font-style: normal;
    font-family: Pridi;
    font-weight: 700;
  }
  .home-image07 {
    width: 100%;
    height: 149px;
    margin-top: 15px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  .home-text12 {
    text-align: center;
    font-family: Pridi;
  }
  .home-button1 {
    width: 200px;
    margin-top: 38px;
    font-family: Pridi;
    margin-bottom: 15px;
  }
  .home-text13 {
    color: rgb(247, 0, 0);
  }
  .home-container06 {
    flex: 0 0 auto;
    width: auto;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  
  .home-container09 {
    gap: var(--dl-space-space-tripleunit);
    width: 1344px;
    height: 66px;
    display: flex;
    align-self: center;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius8);
    justify-content: flex-start;
    background-color: #c7b345;
  }
  .home-form13 {
    width: 229px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-text14 {
    color: var(--dl-color-gray-white);
    font-size: 25px;
    text-align: left;
    font-family: Pridi;
  }
  .home-container10 {
    gap: 10em;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    margin-top: 20px;
    align-items: flex-start;
    justify-content: center;
  }
  .home-form14 {
    width: 333px;
    height: 100%;
    display: flex;
    align-items: center;
    border-color: var(--dl-color-gray-black);
    border-width: 2px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--dl-color-gray-white);
  }
  .home-text15 {
    font-size: 18px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-family: Pridi;
    font-weight: 700;
  }
  .home-image08 {
    width: 100%;
    height: 149px;
    margin-top: 15px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  .home-text19 {
    text-align: center;
    font-family: Pridi;
  }
  .home-navlink7 {
    width: 200px;
    margin-top: 10px;
    font-family: Pridi;
    margin-bottom: 15px;
    text-decoration: none;
  }
  .home-text26 {
    color: #f70000;
    font-family: Pridi;
  }
  .home-form15 {
    width: 333px;
    height: 100%;
    display: flex;
    align-items: center;
    border-color: var(--dl-color-gray-black);
    border-width: 2px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--dl-color-gray-white);
  }
  .home-text27 {
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-family: Pridi;
    font-weight: 700;
  }
  .home-image09 {
    width: 100%;
    height: 149px;
    margin-top: 15px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  .home-text31 {
    text-align: center;
    font-family: Pridi;
  }
  .home-button2 {
    width: 200px;
    margin-top: 10px;
    font-family: Pridi;
    margin-bottom: 15px;
  }
  .home-text37 {
    color: rgb(247, 0, 0);
    font-family: Pridi;
  }
  .home-form16 {
    width: 333px;
    height: 100%;
    display: flex;
    align-items: center;
    border-color: var(--dl-color-gray-black);
    border-width: 2px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--dl-color-gray-white);
  }
  .home-text38 {
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-family: Pridi;
    font-weight: 700;
  }
  .home-image10 {
    width: 100%;
    height: 149px;
    margin-top: 15px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  .home-text42 {
    text-align: center;
    font-family: Pridi;
  }
  .home-button3 {
    width: 200px;
    margin-top: 10px;
    font-family: Pridi;
    margin-bottom: 15px;
  }
  .home-text49 {
    color: rgb(247, 0, 0);
    font-family: Pridi;
  }
  .home-footer {    
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1600px;
    align-items: center;
    margin-top: 50px;
    padding-top: 32px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 32px;
    justify-content: space-between;
    background-color: #c7b345;
  }