.landing-page-container {
    width: 100%;
    height: auto;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    justify-content: flex-start;
    background-image: url('https://bestkru-blog-uploads.s3.amazonaws.com/uploads/Songkhla_Laem_Samila-1024x663.jpg');
  }
  .landing-page-container1 {
    gap: 12em;
    flex: 1;
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .landing-page-button {
    color: var(--dl-color-gray-white);
    width: 399px;
    height: 68px;
    font-size: 30px;
    text-align: center;
    font-family: Pridi;
    border-color: var(--dl-color-gray-white);
    border-width: 2px;
    border-radius: var(--dl-radius-radius-radius8);
    background-color: rgb(162, 139, 134);
    background-color: transparent;
  }
  .landing-page-navlink {
    color: var(--dl-color-gray-white);
    width: 271px;
    height: 54px;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: Pridi;
    border-color: var(--dl-color-gray-white);
    border-width: 2px;
    border-radius: var(--dl-radius-radius-radius8);
    text-decoration: none;
    background-color: rgb(162, 139, 134);
    background-color: transparent;
  }
  .landing-page-container2 {
    gap: var(--dl-space-space-quadruple);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .landing-page-navlink1 {
    color: var(--dl-color-gray-white);
    width: 271px;
    height: 54px;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: Pridi;
    border-color: var(--dl-color-gray-white);
    border-width: 2px;
    border-radius: var(--dl-radius-radius-radius8);
    text-decoration: none;
    background-color: rgb(162, 139, 134);
    background-color: transparent;
  }
  .landing-page-navlink2 {
    color: var(--dl-color-gray-white);
    width: 271px;
    height: 54px;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: Pridi;
    border-color: var(--dl-color-gray-white);
    border-width: 2px;
    border-radius: var(--dl-radius-radius-radius8);
    text-decoration: none;
    background-color: rgb(162, 139, 134);
    background-color: transparent;
  }