.payment-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #E8E8E8;
  }
  .payment-container01 {
    width: 100%;
    height: 74px;
    display: flex;
    align-items: flex-start;
  }
  .payment-header {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    max-width: 1600px;
    align-items: center;
    padding-top: 32px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 32px;
    justify-content: space-between;
    background-color: #c7b345;
  }
  .payment-container02 {
    flex: 0 0 auto;
    width: auto;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: auto;
    display: flex;
    align-items: space-between;
    flex-direction: column;
  }
  .payment-form {
    gap: var(--dl-space-space-unit);
    top: -3px;
    left: 0px;
    width: 192px;
    height: 85px;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .payment-image {
    width: 80px;
    height: 60px;
    object-fit: cover;
  }
  .payment-text {
    color: #ffffff;
    font-size: 25px;
    font-style: normal;
    font-family: Pridi;
    font-weight: 700;
  }
  .payment-nav {
    display: flex;
  }
  .payment-burger-menu {
    display: none;
  }
  .payment-icon {
    width: 16px;
    height: 16px;
  }
  .payment-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
  }
  .payment-nav1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .payment-container03 {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    justify-content: space-between;
  }
  .payment-image1 {
    height: 2rem;
  }
  .payment-menu-close {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .payment-icon02 {
    width: 16px;
    height: 16px;
  }
  .payment-icon04 {
    width: 16px;
    height: 16px;
    margin-right: 32px;
  }
  .payment-icon06 {
    width: 16px;
    height: 16px;
    margin-right: 32px;
  }
  .payment-icon08 {
    width: 16px;
    height: 16px;
  }
  .payment-form01 {
    gap: var(--dl-space-space-halfunit);
    width: 1013px;
    height: 63px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .payment-form02 {
    width: 124px;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .payment-navlink {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    font-family: Pridi;
    text-decoration: none;
  }
  .payment-form03 {
    width: 124px;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .payment-navlink1 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    font-family: Pridi;
    text-decoration: none;
  }
  .payment-form04 {
    width: 124px;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .payment-navlink2 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    font-family: Pridi;
    text-decoration: none;
  }
  .payment-form05 {
    width: 124px;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .payment-navlink3 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    font-family: Pridi;
    text-decoration: none;
  }
  .payment-form06 {
    width: 124px;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .payment-navlink4 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    font-family: Pridi;
    text-decoration: none;
  }
  .payment-form07 {
    width: 124px;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .payment-navlink5 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    font-family: Pridi;
    text-decoration: none;
  }
  .payment-btn-group {
    border: 2px dashed rgba(120, 120, 120, 0.4);
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .payment-icon10 {
    width: 60px;
    height: 60px;
    align-self: center;
  }
  .payment-container04 {
    gap: var(--dl-space-space-halfunit);
    width: 90%;
    height: 55px;
    display: flex;
    align-self: center;
    margin-top: var(--dl-space-space-quadruple);
    align-items: center;
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-quadruple);
    flex-direction: row;
    justify-content: center;
    background-color: #c7b345;
  }
  .payment-form08 {
    gap: var(--dl-space-space-halfunit);
    width: 149px;
    height: 43px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .payment-icon12 {
    fill: #3664b5;
    width: 38px;
    height: 46px;
  }
  .payment-text01 {
    color: #3664b5;
    font-size: 20px;
    font-style: normal;
    text-align: left;
    font-family: Pridi;
    font-weight: 400;
  }
  .payment-form09 {
    gap: var(--dl-space-space-halfunit);
    width: 45px;
    height: 43px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .payment-icon14 {
    width: 24px;
    height: 24px;
  }
  .payment-form10 {
    gap: var(--dl-space-space-halfunit);
    width: 206px;
    height: 43px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .payment-icon16 {
    fill: #927357;
    width: 38px;
    height: 46px;
  }
  .payment-text02 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    text-align: left;
    font-family: Pridi;
  }
  .payment-container05 {
    width: 100%;
    height: 558px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .payment-form11 {
    gap: var(--dl-space-space-unit);
    width: 499px;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .payment-text03 {
    font-size: 22px;
    font-family: Pridi;
  }
  .payment-image2 {
    width: 351px;
    height: 346px;
    align-self: center;
    object-fit: cover;
  }
  .payment-container06 {
    flex: 0 0 auto;
    width: 676px;
    height: 380px;
    display: flex;
    align-self: center;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .payment-text04 {
    height: var(--dl-size-size-tripleunit);
    font-family: Pridi;
  }
  .payment-text27 {
    width: auto;
    height: var(--dl-size-size-tripleunit);
    font-family: Pridi;
  }
  .payment-text28 {
    height: var(--dl-size-size-tripleunit);
    font-family: Pridi;
  }
  .payment-container07 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .payment-container08 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .payment-container09 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .payment-container10 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .payment-container11 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .payment-text29 {
    height: 100%;
    font-family: Pridi;
  }
  .payment-select {
    height: 10%;
  }
  .payment-text30 {
    height: 10%;
  }
  .payment-select1 {
    height: 10%;
  }
  .payment-text31 {
    height: var(--dl-size-size-tripleunit);
  }
  .payment-container12 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .payment-text32 {
    height: var(--dl-size-size-tripleunit);
    font-family: Pridi;
  }
  .payment-textinput {
    height: 32px;
    font-family: Pridi;
  }
  .payment-container13 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .payment-container14 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .payment-text33 {
    width: auto;
    height: var(--dl-size-size-tripleunit);
    font-family: Pridi;
  }
  .payment-textinput1 {
    height: 31px;
    font-family: Pridi;
  }
  .payment-text34 {
    color: rgb(255, 0, 0);
    font-family: Pridi;
  }
  @media(max-width: 1200px) {
    .payment-container {
      background-color: #E8E8E8;
    }
    .payment-header {
      width: 100%;
    }
    .payment-container04 {
      width: 1111px;
      height: 48px;
    }
  }
  @media(max-width: 991px) {
    .payment-container {
      background-color: #E8E8E8;
    }
    .payment-container04 {
      width: 959px;
      height: 44px;
    }
    .payment-container05 {
      height: 717px;
      align-self: center;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    .payment-form11 {
      width: 260px;
    }
    .payment-image2 {
      width: 194px;
      height: 199px;
    }
    .payment-container06 {
      width: 937px;
      height: 461px;
      align-self: center;
      align-items: center;
      justify-content: center;
    }
  }
  @media(max-width: 767px) {
    .payment-header {
      padding-left: 32px;
      padding-right: 32px;
    }
    .payment-nav {
      display: none;
    }
    .payment-burger-menu {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .payment-btn-group {
      display: none;
    }
    .payment-container04 {
      width: 727px;
      height: 39px;
    }
    .payment-container05 {
      width: 713px;
    }
    .payment-container06 {
      width: 636px;
    }
  }
  @media(max-width: 479px) {
    .payment-header {
      padding: var(--dl-space-space-unit);
    }
    .payment-mobile-menu {
      padding: 16px;
    }
    .payment-container04 {
      width: 434px;
      justify-content: center;
    }
    .payment-container05 {
      width: 100%;
      height: 100%;
    }
    .payment-form11 {
      width: auto;
    }
    .payment-container06 {
      width: 100%;
      height: 416px;
      position: relative;
      align-items: center;
      flex-direction: column;
    }
  }  