.payment-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #E8E8E8;
  }
  .payment-container04 {
    gap: var(--dl-space-space-halfunit);
    width: 90%;
    height: 55px;
    display: flex;
    align-self: center;
    margin-top: var(--dl-space-space-quadruple);
    align-items: center;
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-quadruple);
    flex-direction: row;
    justify-content: center;
    background-color: #c7b345;
  }
  .payment-form08 {
    gap: var(--dl-space-space-halfunit);
    width: 149px;
    height: 43px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .payment-icon12 {
    fill: #3664b5;
    width: 38px;
    height: 46px;
  }
  .payment-text01 {
    color: #3664b5;
    font-size: 20px;
    font-style: normal;
    text-align: left;
    font-family: Pridi;
    font-weight: 400;
  }
  .payment-form09 {
    gap: var(--dl-space-space-halfunit);
    width: 45px;
    height: 43px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .payment-icon14 {
    width: 24px;
    height: 24px;
  }
  .payment-form10 {
    gap: var(--dl-space-space-halfunit);
    width: 206px;
    height: 43px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .payment-icon16 {
    fill: #927357;
    width: 38px;
    height: 46px;
  }
  .payment-text02 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    text-align: left;
    font-family: Pridi;
  }
  .payment-container05 {
    width: 100%;
    height: 558px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .payment-form11 {
    gap: var(--dl-space-space-unit);
    width: 499px;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .payment-text03 {
    font-size: 22px;
    font-family: Pridi;
  }
  .payment-image2 {
    width: 351px;
    height: 346px;
    align-self: center;
    object-fit: cover;
  }
  .payment-container06 {
    flex: 0 0 auto;
    width: 676px;
    height: 380px;
    display: flex;
    align-self: center;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .payment-text04 {
    height: var(--dl-size-size-tripleunit);
    font-family: Pridi;
  }
  .payment-text27 {
    width: auto;
    height: var(--dl-size-size-tripleunit);
    font-family: Pridi;
  }
  .payment-text28 {
    height: var(--dl-size-size-tripleunit);
    font-family: Pridi;
  }
  .payment-container07 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .payment-container08 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .payment-container09 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .payment-container10 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .payment-container11 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .payment-text29 {
    height: 100%;
    font-family: Pridi;
  }
  .payment-select {
    height: 10%;
  }
  .payment-text30 {
    height: 10%;
  }
  .payment-select1 {
    height: 10%;
  }
  .payment-text31 {
    height: var(--dl-size-size-tripleunit);
  }
  .payment-container12 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .payment-text32 {
    height: var(--dl-size-size-tripleunit);
    font-family: Pridi;
  }
  .payment-textinput {
    height: 32px;
    font-family: Pridi;
  }
  .payment-container13 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .payment-container14 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .payment-text33 {
    width: auto;
    height: var(--dl-size-size-tripleunit);
    font-family: Pridi;
  }
  .payment-textinput1 {
    height: 31px;
    font-family: Pridi;
  }
  .payment-text34 {
    color: rgb(255, 0, 0);
    font-family: Pridi;
  }