.cardbooking {
  width: 300px;
  height: auto;
  background: white;
  padding: .4em;
  border-radius: 20px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  margin: 10px;

  }

.heading {
    font-weight: 300;
    font-size: 15px;
    color: black;
    padding: 7px;
  }

.title-card {
    font-weight: 600;
    color: black;
    text-align: center;
  }

  .see-more {
    margin: 10px;
  }

  .delete button {
    margin-top: 15px;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
  }

  .delete button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: red;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px red;
    box-shadow: 4px 8px 19px -3px red;
    transition: all 250ms
  }

  .delete button:hover {
    color: #e8e8e8;
  }

  .delete button:hover:before {
    width: 100%;
  }