* {
    margin: 0;
    padding: 0;
}
.background{
    width: 574px;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: flex-start;
    border-color: var(--dl-color-gray-black);
    border-width: 2px;
    justify-content: flex-start;
    background-color: #ffffff;
    align-self: flex;
    margin-left: 230px;
    margin-right: -40px;
}