* {
  margin: 0;
  padding: 0;
}

.navbar_container {
  display: flex;
  width: 100%;
  height: 90px;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.Logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.menu_container {
  margin-left: 50px;
}

.menu_container ul li a {
  text-decoration: none;
  margin: 10px;
}

.menu_container ul li a {
  color: white;
  font-size: 18px;
}

.menu_container ul li.active a {
  color: red;
  pointer-events: none;
}

.menu_container ul li a:hover {
  color: red;
}
